<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	 <div class="top_nav">
  		<ul>
  			<li><%= link_to "Home", :controller => "posts", :action => "index"%></li>
        <li><%= link_to "New Post", :controller => "posts", :action => "new"%></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
